.mute-btn{
    padding: 0.1rem 0.6rem;
    background-color: #b4c164;
    color: rgb(7, 6, 6);
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.8rem;
    margin-right: 1rem;
    box-shadow: 0 4px 10px rgba(216, 60, 60, 0.3);
}

.mute-btn:hover{
    background-color: #a0b44e;
}

.leave-btn{
    padding: 0.1rem 0.6rem;
    background-color: #d83c3c;
    color: rgb(2, 1, 1);
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.8rem;
    box-shadow: 0 4px 10px rgba(216, 60, 60, 0.3); 
}
.leave-btn:hover{
    background-color: #f10b0b;
}

.join-btn{
    padding: 0.1rem 0.6rem;
    background-color: #8abd98;
    color: rgb(4, 3, 3);
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.8rem;
    box-shadow: 0 4px 10px rgba(138, 189, 152, 0.3);
} 

.join-btn:hover{
    background-color: #009e28;
}